.vscode/**
.github/**
.gitignore
.eslintcache
client/**
server/**
scripts/**
node_modules/**
out/**
**/*.ts
**/*.map
tsconfig.json
esbuild.mjs
.eslintrc.json
*.code-workspace
PLAN.md
TEST-PLAN.md
TESTING.md
vitest.config.ts
test-fixtures/**
